@page
@model MovieModel
@{
    ViewData["Title"] = "Movie";
    Layout = "~/Pages/Shared/_LayoutMovie.cshtml";
}
@section scripts{
<script type="text/javascript" src="~/js/clientjs/movie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
}
<div class="pricing-header" style="margin-bottom: 0px;" id="addMovie">
    <a href="~/AddMovie" class="btn btn-hover">
        <span>+ Thêm phim mới</span>
    </a>
</div>

<!-- LATEST MOVIES SECTION -->
<div class="section" style="padding-top: 5px;">
    <div class="container">
        <div class="section-header">
            Hành động
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
        </div>
    </div>
</div>
<!-- END LATEST MOVIES SECTION -->
<!-- LATEST MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Viễn tưởng
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
        </div>
    </div>
</div>
<!-- END LATEST MOVIES SECTION -->
<!-- LATEST MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Kinh dị
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
        </div>
    </div>
</div>
<!-- END LATEST MOVIES SECTION -->
<!-- LATEST MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Phiêu lưu
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
        </div>
    </div>
</div>
<!-- END LATEST MOVIES SECTION -->
<!-- LATEST MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Tình cảm
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
        </div>
    </div>
</div>
<!-- END LATEST MOVIES SECTION -->
<!-- LATEST MOVIES SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Hài hước
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
        </div>
    </div>
</div>
<!-- END LATEST MOVIES SECTION -->
