@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section scripts{
<script type="text/javascript" src="~/js/clientjs/register.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>
}
<div class="section">
    <div class="container">
        <div class="pricing">
            <div class="pricing-header">Đăng ký tài khoản</div>
            <div class="pricing-list">
                <div class="row">
                    <div class="col-4 col-md-4 col-sm-4"></div>
                    <div class="col-4 col-md-4 col-sm-4">
                        <div class="user-box">
                            <p>Họ và tên: </p> <input type="text" placeholder="Họ và tên" name="account">
                            <p>Tên đăng nhập: </p> <input type="text" placeholder="Tên đăng nhập" name="account">
                            <p>Mật khẩu: </p> <input type="password" placeholder="Mật khẩu" name="account">
                            <p>Nhập lại mật khẩu: </p> <input type="password" placeholder="Nhập lại mật khẩu"
                                name="account">
                            <p>Giới tính: </p>
                            <select id="gender" class="styled-select">
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                            <p>Email: </p> <input type="text" placeholder="Email" name="account">
                            <p>Ngày sinh: </p> <input type="date" value="1999-12-14" name="account">
                            <p>Số điện thoại: </p> <input type="text" placeholder="Số điện thoại" name="account">
                        </div>
                        <div class="pricing-header" style="margin-bottom: 0px;" id="addMovie">
                            <a class="btn btn-hover" id="register" style="cursor: pointer;">
                                <span>Đăng ký</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-4 col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
